{{ if .Mailfrom -}}
MAILFROM={{ .Mailfrom }}
{{ end -}}
{{ if .Mailto -}}
MAILTO={{ .Mailto }}
{{ end -}}
PATH=/usr/local/bin:/usr/bin:/bin
SHELL=/bin/bash

{{ range $task := .Tasks -}}
{{ if $task.Mailto -}}
MAILTO={{ $task.Mailto }}
{{ end -}}
{{ $task.Schedule }} {{ $task.DokkuRunCommand }}
{{ if $task.Mailto -}}
MAILTO={{ $.ResetMailto }}
{{ end -}}
{{ end -}}
