{{ if .Mailfrom -}}
MAILFROM={{ .Mailfrom }}
{{ end -}}
{{ if .Mailto -}}
MAILTO={{ .Mailto }}
{{ end -}}
PATH=/usr/local/bin:/usr/bin:/bin
SHELL=/bin/bash

{{ range $task := .Commands -}}
{{ $task.Schedule }} {{ $task.DokkuRunCommand }}
{{ end -}}
