*Dockerfile
.dockerignore
.git
.vagrant
contrib
build
docs
tests
!build/package/*
!docs/_build/entrypoint
!docs/_build/requirements.txt
!tests/dhparam.pem
!contrib/bash-completion
!contrib/docker
vendor
