beautifulsoup4==4.12.3
click==8.1.7
ghp-import==2.1.0
importlib-metadata==7.0.1
Jinja2==3.1.3
Markdown>=3.2.1,<3.6
MarkupSafe==2.1.4
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-exclude==1.0.2
mkdocs-material==9.5.7
mkdocs-material-extensions==1.3.1
packaging==23.2
Pygments==2.17.2
pymdown-extensions==10.7
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
six==1.16.0
soupsieve==2.5
watchdog==3.0.0
zipp==3.17.0
