<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sample Webpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          {% include 'content.html' %}
          <p>
            <a class="btn btn-primary btn-lg" href="#">Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
