click==7.1.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
future==0.18.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
jinja2==2.11.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
joblib==1.0.1; python_version >= "3.6"
livereload==2.6.3; python_version >= "3.5"
lunr==0.5.8; python_version >= "3.5"
markdown==3.3.4; python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
mkdocs-material-extensions==1.0.1; python_version >= "3.5"
mkdocs-material==7.0.6
mkdocs==1.1.2; python_version >= "3.5"
nltk==3.5; python_version >= "3.5"
pygments==2.8.1; python_version >= "3.5"
pymdown-extensions==8.1.1; python_version >= "3.6"
pyyaml==5.4.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
regex==2021.3.17; python_version >= "3.5"
six==1.15.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
tornado==6.1; python_version >= "3.5"
tqdm==4.59.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.4.0"
