body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-bottom: 40px;
  color: #5a5a5a;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: #5a5a5a;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 12px;
  margin-top: 12px;
  text-rendering: optimizelegibility;
}
.header {
  background-color: #2a8fbd;
  padding: 22px 0;
}
.header .heading {
  color: #fff;
  font-size: 23px;
  margin: 0;
  padding: 0 0 0 1em;
}
.header a {
  background-image: url(http://progrium.viewdocs.io/dokku/assets/dokku.png);
  color: #fff;
  text-indent: 40px;
  background-position: center left;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.blurb {
  color: #424242;
  background-color: #ededed;
  background-image: url(gplaypattern.png);
  padding: 45px 0;
  text-align: center;
}
.blurb p {
  font-size: 17px;
  font-weight: 300;
  margin: 18px 0 18px;
  text-align: center;
}

.quickstart-code {
  display: block;
  font-size: 12px;
  line-height: 1.3em;
  margin: 45px auto;
  max-width: 750px;
  padding: 0;
}
.quickstart-code .title {
  background-color: #dfdfdf;
  background-image: linear-gradient(top, #f7f7f7 0%, #dfdfdf 7%, #ccc 100%);
  border-bottom: 1px solid #111;
  color: #444;
  display: block;
  font-weight: 400;
  font-size: 14px;
  margin: 0 20px;
  padding: 3px 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 0 rgba(0,0,0,0.5);
}
.quickstart-code .shell {
  background-color: #171717;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  margin: 0 20px;
  padding: 20px;
  text-shadow: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
}
.quickstart-code .line {
  display: block;
  margin: 0;
  padding: 0;
}
.quickstart-code .line span {
  display: inline-block;
}
.quickstart-code .path {
  color: #2a8fbd;
  user-select: none;
}
.quickstart-code .prompt {
  color: #ff9900;
  user-select: none;
}
.quickstart-code .command {
  color: #ffffcc;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 20px 0;
}
.featurette-heading {
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette-heading .text-muted {
  font-weight: 300;
}
.list-group-item {
  border: none;
  font-size: 13px;
  font-weight: normal;
  padding: .2rem .5rem;
  color: #157577;
}
a.list-group-item {
  color: #666
}
.list-group-item.disabled:first-child, .list-group-item.disabled:first-child:focus, .list-group-item.disabled:first-child:hover {
  margin-top: 0;
}
.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
  background: none;
  color: #bbb;
  cursor: default;
  font-weight: normal;
  font-size: 11px;
  margin-bottom: 1em;
  margin-top: 2em;
  text-transform: uppercase;
}
.markdown-body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(71, 74, 84);
  font-size: 14px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  text-align: left;
}
.markdown-body h1 {
  border-bottom: 1px solid #dfdfdf;
  color: #444;
  font-size: 24px;
  padding-bottom: 1em;
  margin-top: 0;
  text-rendering: optimizelegibility;
}
.markdown-body h2 {
  font-size: 17px;
  font-weight: 700;
  color: #555;
  margin-top: 3em;
  text-transform: uppercase;
}
.markdown-body h1 + h2 {
  margin-top: 1em;
}
code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: #fff;
  background-color: rgba(0,0,0,0.06);
  color: #333;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
code:before {
  letter-spacing: -0.2em;
  content: "\00a0";
}
code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
pre code:before, pre code:after {
  letter-spacing: 0;
  content: "";
}
pre {
  display: block;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 0 0 3px #eee;
  overflow: auto !important;
  padding: 10px;
  background-color: #fff;
  color: #4d4d4c;
  margin: 2em 0;
}
@media (min-width: 768px) {
  .quickstart-code {
    font-size: 14px;
    line-height: 22px;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
